# --- CONFIGURACIÓN DE BASE DE DATOS (DOCKER) ---
# Estos valores los usa el contenedor de Postgres para inicializarse
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_contrasena_aqui
POSTGRES_DB=gastrometric_db

# --- CONFIGURACIÓN DE CONEXIÓN (BACKEND) ---
# Esta es la URL que usará SQLAlchemy para conectarse
# IMPORTANTE: El host debe ser 'db' para que funcione dentro de Docker
# Formato: postgresql://USUARIO:PASSWORD@db:5432/DATABASE
DATABASE_URL=postgresql://usuario:password@db:5432/gastrometric_db

# --- OTRAS CONFIGURACIONES ---
# Puerto del Backend (por defecto 8000)
PORT=8000