# Python (Archivos temporales)
__pycache__/
*.pyc
.venv/
env/

# Base de Datos (Para no subir los datos de tu PC)
postgres_data/

# Secretos (NUNCA subir el .env real)
.env

# Frontend (Librerías de Vitto y Tiare)
node_modules/
dist/
.env.local

# Herramientas del sistema
.DS_Store
Thumbs.db